{% extends 'layout.html' %}
{% load static i18n %}

{% block style %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/ecoproblems.css'%}">
{% endblock %}

{% block content %}
<div class="head1">
        <h1>{% trans "Экология Европы" %}</h1>
      </div>
      <div class="data">28.01.2022</div>
      <div class="text">
        <p><br/><br/>
          {% trans "Экология Европы оставляет желать лучшего. В первую очередь проблемы связаны с рядом факторов, губительно влияющих на окружающую среду. Хотя на данный момент охране природы уделяется колоссальное внимание, восстановить утраченное не всегда представляется возможным." %}
        </p>
      </div>
      <div class="head2">
        <h2>{% trans "Основные проблемы" %}</h2>
      </div>
      <div class="mainproblems">
        <p>
          {% trans "Европейский континент уже давно перестал считаться экологически чистым. В регионе произошла ранняя индустриализация и развитие промышленности, сделав его неблагоприятным." %}<br/><br/>
          {% trans "Здесь наблюдается наиболее широкая гамма проблем. Тем более что практически все экосистемы частично разрушены или претерпели существенные изменения от изначальных характеристик." %}
        </p>
      </div>
      <figure class="sign">
        <p><img src="/static/images/2018.jpg" width="400" height="400"></p>
        <figcaption>
          {% trans "Карта экологической эффективности в 2018 г. Это совокупный показатель, который отражает различные аспекты состояния окружающей природной среды и жизнеспособности её экологических систем, сохранение биологического разнообразия, противодействие изменению климата, состояние здоровья населения, практику экономической деятельности и степень её нагрузки на окружающую среду, а также эффективность государственной политики в области экологии." %}
          </figcaption>
      </figure>
      <div class="after_sign">
        <p>
          {% trans "Осознание опасности происходящего произошло раньше, чем на других континентах. Это стало причиной первых серьёзных шагов, направленных на противостояние с разрушающими факторами." %}
        </p>
      </div>
      <div class="population_density">
        <h2>{% trans "Плотность насления" %}</h2>
      </div>
      <div class="text2">
        <p>{% trans "Зарубежная Европа считается одним из густонаселённых районов земного шара. При среднем показателе планеты в 55 человек на 1 км², здесь прослеживается совершенно иная ситуация: величина варьируется в диапазоне от 100 до 110 человек." %}
        </p>
      </div>
      <figure class="sign2">
        <p><img src="/static/images/plotnost-naseleniya.png" width="600" height="400"></p>
        <figcaption>
          {% trans "Карта плотности населения Европы. Количество человек на 1 кв. км" %}
        </figcaption>
      </figure>
      <div class="after_sign2">
        <p>
          {% trans "При этом распределение людей практически по всей площади континента отличается равномерностью. То есть незаселённых или малонаселённых мест практически нет." %}<br/><br/>
          {% trans "Аналогичная ситуация касается и урбанизации. Проживающих в городской черте гораздо больше, чем в сельских поселениях. По региону средний показатель 73 %, в Бельгии — 87 %." %}<br/><br/>
          {% trans "В большей степени густозаселёнными государствами являются маленькие по площади, расположенные в центральной части континента: Монако, Ватикан, Сан-Марино. В странах, относящихся к северной территории Европы, меньше населения, что можно объяснить менее благоприятными климатическими условиями." %}
        </p>
      </div>
      <div class="load"><h2>{% trans "Хозяйственная нагрузка на территории" %}</h2></div>
      <div class="text3">
        <p>
          {% trans "Здесь сконцентрировано более 40 государств, находящихся друг от друга на небольшом расстоянии. В каждом из них функционирует огромное количество промышленных предприятий, сельскохозяйственных угодий и дорог. В результате целостного земляного покрова практически не осталось, воздух засоряется." %}<br/><br/>
          {% trans "Это частично становится проблемой глобального экологического кризиса, постоянная нагрузка в той или иной степени снижает количество природных территорий Европы. Морские заливы и побережья забиваются отходами жизнедеятельности человека." %}
        </p>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fBCsLw3qMHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="after_video">
        <p>
          {% trans "Качество питьевой воды в удалённых регионах ещё проходит допустимые критерии. Прежде чем пускать на нужды населения воду в большинстве крупных европейских городов, приходится подвергать её тщательной очистке." %}
        </p>
      </div>
      <div class="cost"><h2>{% trans "Экологические издержки, необходимые для жизнеобеспечения человека" %}</h2></div>
      <div class="text4">
        <p>
          {% trans "В первую очередь это относится к сооружениям, преграждающим естественное орошение территорий. В этом случае происходит нарушение полноценного жизнеобеспечения целых регионов, которое приводит к вымиранию объектов флоры и фауны." %}
        </p>
      </div>
      <figure class="sign3">
        <p><img src="/static/images/energi.jpg" width="700" height="600"></p>
        <figcaption>
          {% trans "Энергетика и Экология Европы" %}
        </figcaption>
      </figure>
      <div class="after_sign3">
        <p><br/><br/>{% trans "Здесь стоит отметить слудующие факторы:" %} </p>
        <ul id="factors">
          <li>{% trans "Строительство дополнительных водохранилищ, требующихся человеку для обеспечения водой. Сооружения полностью либо частично ведут к затоплению больших площадей, на которых ранее проживали животные и произрастали растения." %}</li>
          <li>{% trans "Возведение ГЭС. Это приводит к глобальному изменению жизни на всём протяжении реки, от русла до истоков." %}</li>
        </ul>
      </div>
{% endblock %}
