{% extends 'layout.html' %}
{% load static i18n %}

{% block style %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/delete.css'%}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="data">06 JAN 2022</div>
      <div class="head">
        <h1>{% trans "2022 год: природа в" %}<br/> {% trans "аварийном режиме" %}</h1>
      </div>
      <div class="text">
        <p>{% trans "По мере приближения нового года мир продолжает сталкиваться с рядом знакомых проблем: продолжающейся пандемией КОВИД-19 и лесными пожарами, затяжным кризисом из-за изменения климата, утраты биоразнообразия и нарастающего загрязнения. И все же 2022 год может стать историческим для окружающей среды: запланировано проведение международных мероприятий и конференций, которые, как мы надеемся, активизируют международное сотрудничество и общие действия." %}<br/><br/>
        </p>
        <p>
         {% trans "Кроме того, в следующем году мы отметим два золотых юбилея. В 1972 году на исторической Конференции ООН по окружающей человека среде в Стокгольме мир надел на себя экологическую мантию. На этом совещании вопросы охраны окружающей среды были включены в список приоритетных задач правительств, гражданского общества, деловых кругов и руководящих органов с учетом неразрывной связи между планетой, благосостоянием человека и экономическим ростом. Сейчас, пятьдесят лет спустя, в Стокгольме в июне 2022 года в честь 50-летия пройдет мероприятие, которое отметит это событие, вспомнив о полувековой глобальной экологической деятельности и обратив взгляд в будущее." %}
        </p>
        <iframe width="760" height="515" src="https://www.youtube.com/embed/9zOSRqa-h3Q" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          <br/>{% trans "Результатом стокгольмской конференции стало создание Программы ООН по окружающей среде (ЮНЕП) – органа Организации Объединенных Наций, которому поручено следить за состоянием окружающей среды, информировать политические круги о ходе научных исследований и активизировать международную деятельность. С тех пор на протяжении 50 лет ЮНЕП использовала свои возможности, проводя совещания и тщательные научные исследования с целью координации мировых усилий для решения экологических проблем. В честь 50-й годовщины ЮНЕП в этом году запланировано множество мероприятий." %}
        </p>
        <p>
          <br/>{% trans "В 2022 году ЮНЕП приступит к осуществлению новой среднесрочной стратегии, включающей семь взаимосвязанных рабочих программ по таким вопросам, как борьба с изменением климата, химические вещества и загрязнение окружающей среды, природоохранная деятельность, научная политика, управление природопользованием, финансы, экономические и цифровые преобразования. Стратегия была согласована на пятой сессии Ассамблеи ООН по окружающей среде в 2021 году. Данная сессия (ЮНЕА 5.2) возобновит свою работу в феврале 2022 года. Обсуждаемая тема – «Усиление природоохранных мероприятий для достижения целей в области устойчивого развития» – подчеркивает ведущую роль природы в нашей жизни и в устойчивом социальном, экономическом и экологическом развитии." %}
        </p>
        <figure class="sign">
          <p><img src="/static/images/New_York_Times_Square_Billboard.jpg" width="400" height="250"></p>
          <figcaption>{% trans "Фото: ЮНЕП | Рекламный щит по случаю Всемирного дня окружающей среды в 2021 году на Таймс сквере, Нью-Йорк" %}</figcaption>
        </figure>
        <p><br/><br/>{% trans "Июнь будет напряженным месяцем в экологическом календаре. 5 июня мир объединится, чтобы отметить Всемирный день окружающей среды. Начиная с 1974 года это день ежегодно отмечается под руководством ЮНЕП, превратившись в огромную всемирную платформу для экологической пропаганды, в рамках которой миллионы людей защищают планету. В этом году мероприятие пройдет в Швеции под девизом «Только одна Земля» и с акцентом на устойчивое существование в гармонии с природой." %}
        </p>
          <p><br/><br/><br/><br/>{% trans "Несмотря на то, что хронология экологических достижений служит доказательством важности многосторонних действий для достижения результатов, наука остается неопровержимой истиной. Неустойчивые модели потребления и производства подпитывают тройной планетарный кризис изменения климата, утраты природы и биоразнообразия, загрязнения и отходов. Генеральный секретарь ООН Антониу Гутерриш предупредил, что тройной планетарный кризис – это угроза номер один для существования человечества." %}
          </p>
          <p><br/>
            {% trans "В 2022 году несколько общемировых мероприятий и документов направлены на поощрение диалога и оказание влияния на политические решения в целях преодоления тройного кризиса. К их числу относятся всемирная стратегия сохранения биоразнообразия после 2020 года, которая будет принята в мае этого года на 15-ой конференции сторон (КС 15) и которая может предотвратить исчезновение более миллиона видов, а также Конференция ООН по вопросам мирового океана в июле, цель которой защита одной из самых важных экосистем планеты. С подробным списком соответствующих мероприятий вы можете ознакомиться на веб-сайте ООН." %}
          </p>
          <p>
            <br/>
            {% trans "В прошлом году генеральный секретарь ООН напомнил миру, что «...мы находимся на перепутье, и нам предстоит сделать соответствующий выбор. Это может стать как разрушением, так и прорывом»." %}
          </p>
          <p>
            <br/>
            {% trans "Специалисты выражают надежду, что 2022 год станет годом прорывов в области окружающей среды." %}<br/><br/>
          </p>
      </div>

      <form class="myForm" id="myForm" method="POST">
        {% trans "Введите Ваше имя:" %} <br>
        {% csrf_token %}
        <div class="input1" style="margin: 0 auto">{{form.first_name}}</div>
        <br>
        {% trans "Контакт для обратной связи:" %} <br>
        <div class="input1" style="margin: 0 auto">{{form.email_address}}</div>
        <br>
        {% trans "Сообщение:" %} <br>
        <div class="textarea1">{{form.message}}</div>
        <br>
        <button class="btn-fill-primary" type="submit">{% trans "Отправить" %}</button>
        <br><br>{% trans "* - обязательные поля." %}
      </form>
      <br><br>
{% endblock %}
