{% extends 'layout.html' %}
{% load static i18n %}

{% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mammals.css'%}">
{% endblock %}

{% block content %}
<div class="head">
            <h1>{% trans "Карликовая игрунка (Мармозетка)" %}</h1>
        </div>
        <div class="after_head">
            <p>{% trans "Карликовая игрунка (лат. Cebuella pygmaea_), или мармозетка, правотряд широконосые обезьяны, семейства игрунковых." %}
            </p>
            <p><img src="/static/images/marmozetka.jpg" width="500" height="430"></p>
        </div>
        <div class="head2"><h2>{% trans "Описание" %}</h2></div>
        <div class="after_head2">
            <p>
                {% trans "Игрунка или мармозетка – это самый маленький примат на Земле. Размер взрослой особи не превышает 35 см, включая длинный хвост, служащий для обезьянки балансиром." %}<br/><br/>
                {% trans "В 2018 году используя данные молекулярно-генетической экспертизы, из этого вида были выделены несколько подвидов: восточная карликовая игрунка, которую всегда можно отличить по светлому низу, и западная карликовая игрунка – непосредственно мармозетка. Мармозетка распространена значительно дальше на западе, нежели восточный подвид, и основным барьером для них служат Амазонка и Мараньон западная обитает в северном направлении, а вот восточная на южных территориях." %}
            </p>
            <p><img src="/static/images/marmozetka-3.jpg" width="500" height="350"></p>
            <p>
                <br/><br/><br/><br/><br/><br/>{% trans "Красная книга МСОП поместила мармозетку в раздел вызывающие наименьшее опасение (2008 год), а в 2020 году оба эти вида уже помечены в качестве уязвимых. Угрозу этим крошечным приматам представляют сокращение площади их обитания и ухудшения условия существования вследствие деятельности людей." %}
            </p>
        </div>
{% endblock %}

